In [2]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('Create table transaction_history (username varchar(256),transaction_amount INTEGER,transaction_date datetime)')

:

In [ ]:
cursor.execute('drop table transaction_history')

:

In [11]:

cursor.execute('Create table users (username varchar, email varchar, password varchar, points amount,qr text)')

In [3]:
cursor.execute('ALTER TABLE users qr text')

OperationalError: near "remove": syntax error

In [7]:
from datetime import datetime

In [8]:
cursor.execute(f'insert into transaction_history values("ibraheem",200,"{datetime.now()}")')

In [6]:
conn.commit()

In [6]:
import json


# Define the table name
table_name = "transaction_history"

# Define the list to insert
my_list = [1, 2, 3, 4, 5]

# Serialize the list to a JSON string
list_json = json.dumps(my_list)

# Define the SQL query
sql = f"INSERT INTO {table_name} (list_column) VALUES (?)"

# Execute the query to insert the serialized list
cursor.execute(sql, (list_json))

# Commit the changes to the database
conn.commit()

# Close the database connection
conn.close()

OperationalError: no such table: transaction_history